<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stephen.test.mvvm.framework">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.stephen.test.mvvm.framework.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PuyMvvm"
        tools:replace="android:label">
        <activity
            android:name="com.stephen.test.mvvm.framework.activitys.SplashActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.stephen.test.mvvm.framework.activitys.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"
            android:screenOrientation="portrait"/>
        <activity android:name="com.stephen.test.mvvm.framework.activitys.ResultActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"
            android:screenOrientation="portrait"/>
        <activity android:name="com.stephen.test.mvvm.framework.activitys.CommWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"
            android:screenOrientation="portrait"/>
        <activity android:name="com.stephen.test.mvvm.framework.activitys.LineListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"
            android:screenOrientation="portrait"/>
        <activity android:name="com.stephen.test.mvvm.framework.activitys.IpViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"
            android:screenOrientation="portrait"/>
        <activity android:name="com.stephen.test.mvvm.framework.activitys.AboutActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"
            android:screenOrientation="portrait"/>
        <activity android:name="com.stephen.test.mvvm.framework.activitys.LanguageListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"
            android:screenOrientation="portrait"/>
    </application>
</manifest>